@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


/* General css styles */
:root {
    --whitecolor : #D8D6D6;
    --balckcolor : #282828 ;
    --balckcolor-mate : #5f5f5f ;
    --iconsize: 5vw;
    --iconsizesmall :4vw;
    --weathericon: 8vw;
    --weatherboxpaddings: 0.8em;
    --globalpadding: 0 1.3em;
    --circleSize : 7px;
    --gardientLine : 2px;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: var(--balckcolor);
    position: relative;
}

body .global-padding {
    padding: var(--globalpadding);
}

body.body-grid {
    display: grid;

}

#main{
    display: none;
}

.border {
    padding: .5em 1em;
    border: 1px solid var(--balckcolor);
    backdrop-filter: blur(10px);
}
.round {
    border-radius: 999em;
}

.mod-round {
    border-radius: 15px;
}

img[class *="icon"] {
    width: var(--iconsize);
}

img[class $="-s"] {
    width: var(--iconsizesmall);
}
img.logo-icon {
    width: calc(var(--iconsize) + 3vw);
}

/* section:only(.baner-wrapper){
    margin-top: 2em;
} */

li a {
    text-decoration: none;
    outline: none;
    color: var(--balckcolor);
}

li a img:hover {
    transform: scale(1.2);
}

span.section-title {
    width: 100%;
    border-bottom:1px solid var(--balckcolor) ;
}



/* background video */
#backVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
    transform: scale(1.2);
    opacity: .8;
}

/* navigation */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

header .logo-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .app-name {
    font-size: 1em;
}

#searchBox {
    position:absolute;
    top: 0;
    right:1.3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: fit-content;
    border-radius: 999em;
    padding: 0.5em;
    border: 1px solid var(--balckcolor);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: width 1s ease;
}
#searchBox:hover{
    width: 60vw;
}

#searchInput{
    all: unset;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
}
#searchBox:hover #searchInput{
    width: 50vw;
    opacity: 1;
}

#searchInput::placeholder {
    color: var(--balckcolor);
}
img.search-icon {
    flex: 0 0 auto;
}


input#city-input{
    all: unset;
    height: auto;
    justify-content: center;
}

input#city-input::placeholder{
    color: var(--balckcolor);
    font-style: italic;
    font-family: inherit;
}


/* baner */

section.baner-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

div.temp-wrapper h1 {
    font-size: 8em;
}

h1 span.degree {
    font-size: .8em;
}

div.H_L-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div.temp-state-wrapper {
    text-align: center;
}
h2#general-temp-state{
    font-size: 2.5em;
}

/* details */

div.detail-wrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
div.details-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
    grid-template: 
    "daily daily"
    "uv humidity"
    "wind wind"
    "view pressure"
    "umbrella umbrella"
    "sunpath sunpath"
    "weekly weekly";
}

.daily-weather {grid-area: daily;
                overflow: hidden;}
.weekly-weather {grid-area: weekly;
                overflow: hidden;}
.uv        { grid-area: uv; }
.wind      { grid-area: wind; }
.humidity  { grid-area: humidity; }
.view      { grid-area: view; }
.pressure  { grid-area: pressure; }
.umbrella  { grid-area: umbrella; }
.sunpath  { grid-area: sunpath; }

div.uv-gradient-line-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span#uv-indicator {
    background: white;
    border: 1px solid var(--balckcolor-mate);
    position: absolute;
    border-radius: 50%;
    height: var(--circleSize);
    width: var(--circleSize);
    top: 50%;
    transform:  translate(-50%, -50%);
    left: 0;
    z-index: 999;
    
}
div.gradient-line.uv{
    position: relative;
    background: linear-gradient(to right, green, yellow, rgb(248, 162, 48),  red, rgb(149, 2, 247) );
    width: 65%;
    height: var(--gardientLine);
}

div.detail-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
strong.detail-value{
    font-size: 1.3em;
}


div.detail-wrapper-col-wind{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.wind-compass{
    border: 1px solid var(--balckcolor);
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    position: relative;
    overflow: hidden;
    
}
img.wind-compass-circle {
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: contain;
    position: absolute;
    z-index: -2;
}

span.centre-circle{
    position: absolute;
    left: 50% ;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height:20%;
    border-radius: 50%;
    border: 1px solid var(--blackcolor, #000);
    backdrop-filter: blur(10px);
}

img#wind-compass-arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80%;
    width: auto;
    transform-origin:center;           /* or: center */
    transform: translate(-50%, -50%) rotate(var(--angle, 0deg));
}
div.wind-left-clo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
div.wind-flex{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    border-bottom: 1px solid var(--balckcolor);
}

div.umbrella {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.gradient-per {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
div.gradient-line.rain{
    position: relative;
    background:linear-gradient(to right,
    #440154 0%,   /* dark purple */
    #3b528b 25%,  /* blue */
    #21908d 50%,  /* teal */
    #5ec962 75%,  /* green */
    #fde725 100%  /* yellow */);
    width: 70%;
    height: var(--gardientLine);
}
span#rain-indicator {
    background: white;
    border: 1px solid var(--balckcolor-mate);
    position: absolute;
    border-radius: 50%;
    height: var(--circleSize);
    width: var(--circleSize);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    z-index: 999;
}

img.sunpath-image {
    width: 80%;
    display: block;
    margin: auto;
}

div.time-sunpath-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}




/* weather condition */

div.title-hourly-section {
    display: flex;
    justify-content: space-between;
}

 div#hourly-weather-wrapper, div#weekly-weather-wrapper{
    display: grid;
    font-size: 1em;
    padding: var(--weatherboxpaddings) 0;
    gap: 1em;
    grid-template-columns: repeat(25,1fr);
    overflow: scroll;
    width: 100%;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    display: none;
}

div.weather-item-wrapper {
    gap: 0.8em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-content: center;
    text-align: center;
    
}
div.weather-item-wrapper img {
    width: var(--weathericon);
    margin: auto;
}

div#weekly-weather-wrapper{
    grid-template-columns: repeat(6,1fr);
    
}

::-webkit-scrollbar {
    display: none;
}


p.fontb-small-weather-list{
    font-size: 1.1em;
    font-weight: 600;
}


/* map */
/* div#map {
    display: none;
    border: 1px solid var(--balckcolor);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-bottom: 5em;
    border-radius: 14px;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p#error-map {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    text-align: center;
}
svg.error-svg {
    margin-bottom: 1em;
    width: 20%;
    height: 20%;
} */

@media (min-width: 640px) {
    body {
        margin-bottom: 4em;
    }
    header .app-name {
        font-size: 1.3em;
    }
    div.temp-wrapper h1 {
        font-size: 10em;
    }
    div.H_L-wrapper p {
        font-size: 1.1em;
    }
    div.temp-state-wrapper h2 {
        margin-top: 0.2em;
    }
    div.details-list {
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
    grid-template: 
    "daily daily daily"
    "wind wind pressure"
    "wind wind umbrella"
    "uv humidity view"
    "sunpath sunpath weekly"
    /* "weekly weekly weekly"; */
} 
    div.umbrella {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.umbrella {
    flex-direction: column;
    align-items: center;
}

div.gradient-per {
    width: 100%;
}

p.fontb-small-weather-list{
    font-size: 1.3em;
    font-weight: 600;
}
 div#hourly-weather-wrapper, 
 div#weekly-weather-wrapper, 
 span.section-title, 
 div.detail-title{
    font-size: 1.2em;
    font-weight: 400;
 }
strong.detail-value {
    font-size: 1.4em;
}


div.detail-title {
    gap: 1em;
}
div.wind-flex,div.time-sunpath-wrapper > span{
    font-size: 1.3em;
}
nav.bottom-nav {
    position: unset;
    display: block;
}  
div.top-baner-wrapper {
    display: flex;
    height: 70px;
}

}



